## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [1]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')

df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [17]:
# View the column names in the data

df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [2]:
# Use the describe function to gather some basic statistics

df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [19]:
# Use this space to do any additional research
# and familiarize yourself with the data.

mean_cost = df["unit_cost"].mean()
mean_price = df["unit_price"].mean()
mean_weight = df["unit_weight"].mean()

num_floating_points = 4
print(f'The mean cost is {round(mean_cost, 2)}, the mean price is {round(mean_price, 2)}, the mean weight {round(mean_weight, num_floating_points)} lbs')

The mean cost is 99.45, the mean price is 136.27, the mean weight 5.0041 lbs

In [3]:
# What three item categories had the most entries?
df_test = df["category"].value_counts()
df_test.head(3)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [4]:
# For the category with the most entries,
# which subcategory had the most entries?

df_test = df[["category", "subcategory"]].value_counts().head(1)
df_test

category     subcategory
consumables  bathroom supplies    6424
Name: count, dtype: int64

In [22]:
# Which five clients had the most entries in the data?

df_test = df[["client_id", "first", "last"]].value_counts().head(1)
df_test.head(5)

client_id  first    last
33615      Jessica  Reyes    220
Name: count, dtype: int64

In [5]:
# Store the client ids of those top 5 clients 

df_test = df["client_id"].value_counts().head(5)
list = df_test.index.to_list()
list

[33615, 66037, 46820, 38378, 24741]

In [24]:
# How many total units (the qty column) did the
# client with the most entries order order?

my_value = list[0]
results = df.loc[df["client_id"] == my_value]

results["qty"].sum()

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [6]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty

client_1 = 33615
client_2 = 66037
client_3 = 46820

df['line_subtotal'] = df['unit_price'] * df['qty']

result_df = df.groupby('client_id')[['line_subtotal', 'unit_price', 'qty']].sum().reset_index()

#esult = result_df[result_df['client_id'].isin([client_1, client_2])]
result = result_df[(result_df['client_id'] == client_1)| (result_df['client_id'] == client_2)]
result

     client_id  line_subtotal  unit_price    qty
258      33615     5839032.11    29872.65  64313
621      66037     7995708.38    30164.95  43018

In [7]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.

df['shipping_price'] = df.apply(lambda row: row['unit_weight'] * 7 if row['unit_weight']> 50 else row['unit_weight'] * 10, axis=1)
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,shipping_price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,75.0
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95,14.9
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28,16.8
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18,12.3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00,464.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8,2743.29,22.5
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,117.0
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,41.6
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0,165.76,180.4
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5,3103.31,20.7

In [8]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%

df['total_price'] = round((df['line_subtotal'] + df['shipping_price']) * 1.0925, 2)
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,shipping_price,total_price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,75.0,125898.61
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,consumables,pens,24.95,15.09,1.49,21,0,523.95,14.9,588.69
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,software,project management,13.52,7.86,1.68,39,6,527.28,16.8,594.41
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,consumables,pens,36.42,24.85,1.23,29,3,1056.18,12.3,1167.31
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,consumables,misc,195.10,108.17,46.43,20,1,3902.00,464.3,4770.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,software,logistics,83.13,51.60,2.25,33,8,2743.29,22.5,3021.63
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,117.0,10735.70
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,41.6,34118.88
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,furniture,stands,1.48,1.22,18.04,112,0,165.76,180.4,378.18
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,software,project management,3.01,1.61,2.07,1031,5,3103.31,20.7,3412.98

In [9]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).

df['line_cost'] = (df['unit_cost'] * df['qty']) + df['shipping_price']
df
#df.drop(['cost'], axis=1)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,shipping_price,total_price,line_cost
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,wall art,1096.80,762.71,7.50,105,1,115164.00,75.0,125898.61,80159.55
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,pens,24.95,15.09,1.49,21,0,523.95,14.9,588.69,331.79
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,project management,13.52,7.86,1.68,39,6,527.28,16.8,594.41,323.34
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,pens,36.42,24.85,1.23,29,3,1056.18,12.3,1167.31,732.95
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,misc,195.10,108.17,46.43,20,1,3902.00,464.3,4770.18,2627.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,logistics,83.13,51.60,2.25,33,8,2743.29,22.5,3021.63,1725.30
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,117.0,10735.70,8363.62
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,41.6,34118.88,27263.85
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,stands,1.48,1.22,18.04,112,0,165.76,180.4,378.18,317.04
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,project management,3.01,1.61,2.07,1031,5,3103.31,20.7,3412.98,1680.61

In [10]:
# Create a column for the profit of
# each line using line cost and line price

df['line_profit'] = df['total_price'] - df['line_cost']
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,shipping_price,total_price,line_cost,line_profit
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,1096.80,762.71,7.50,105,1,115164.00,75.0,125898.61,80159.55,45739.06
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,24.95,15.09,1.49,21,0,523.95,14.9,588.69,331.79,256.90
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,13.52,7.86,1.68,39,6,527.28,16.8,594.41,323.34,271.07
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,36.42,24.85,1.23,29,3,1056.18,12.3,1167.31,732.95,434.36
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,195.10,108.17,46.43,20,1,3902.00,464.3,4770.18,2627.70,2142.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,83.13,51.60,2.25,33,8,2743.29,22.5,3021.63,1725.30,1296.33
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,206.59,175.46,11.70,47,0,9709.73,117.0,10735.70,8363.62,2372.08
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,65.66,57.31,4.16,475,6,31188.50,41.6,34118.88,27263.85,6855.03
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,1.48,1.22,18.04,112,0,165.76,180.4,378.18,317.04,61.14
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,3.01,1.61,2.07,1031,5,3103.31,20.7,3412.98,1680.61,1732.37

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [12]:
# Check your work using the totals above
order_num1 = 2742071
order_num2 = 2173913
order_num3 = 6128929

order_num1_total = df.loc[df['order_id'] == order_num1, "total_price"].sum()
order_num2_total = df.loc[df['order_id'] == order_num2, "total_price"].sum()
order_num3_total = df.loc[df['order_id'] == order_num3, "total_price"].sum()

print(f"Order {order_num1} total: ${order_num1_total:.2f}")
print(f"Order {order_num2} total: ${order_num2_total:.2f}")
print(f"Order {order_num3} total: ${order_num3_total:.2f}")

Order 2742071 total: $139844.51
Order 2173913 total: $119838.36
Order 6128929 total: $752748.71

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [18]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.

sum_df = df.groupby('client_id').sum().reset_index()

client_dict = {}

for client in list:
    amount = sum_df[sum_df['client_id'] == client]['total_price'].values[0]
    
    client_dict[client] = f"${amount:.2f}"
    
    
client_dict

{33615: '$6392918.34',
 66037: '$8746255.33',
 46820: '$8006332.52',
 38378: '$9172866.13',
 24741: '$76678479.00'}

In [22]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price, 
# total revenue, and total profit. Sort by total profit.

filtered_sum_df = sum_df[sum_df['client_id'].isin(list)]
summary_df = filtered_sum_df[['client_id', 'qty', 'shipping_price', 'total_price', 'line_cost', 'line_profit']]
summary_df

     client_id     qty  shipping_price  total_price    line_cost  line_profit
144      24741  239862          9365.6  76678479.00  40571816.94  36106662.06
258      33615   64313         12609.4   6392918.34   4358938.42   2033979.92
319      38378   73667         11895.0   9172866.13   6217160.58   2955705.55
402      46820   75768         11094.8   8006332.52   5416837.60   2589494.92
621      66037   43018         10017.3   8746255.33   5619348.43   3126906.90

In [24]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.

def format_currency(value):
    return "${:,.2f}".format(value)

currency_columns = ['shipping_price', 'total_price', 'line_cost', 'line_profit']

summary_df.sort_values('line_profit', ascending=False, inplace=True)

for column in currency_columns:
    summary_df[column] = summary_df[column].map(format_currency)
    
summary_df = summary_df.rename(columns={
    'qty': "Quantity",
    'shipping_price': "Shipping Price",
    'line_cost': 'Line Cost',
    'line_profit': 'Total Profit'
})

summary_df

C:\Users\timot\AppData\Local\Temp\ipykernel_27244\899733129.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summary_df.sort_values('line_profit', ascending=False, inplace=True)
C:\Users\timot\AppData\Local\Temp\ipykernel_27244\899733129.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summary_df[column] = summary_df[column].map(format_currency)

,client_id,Quantity,Shipping Price,total_price,Line Cost,Total Profit
144,24741,239862,"$9,365.60","$76,678,479.00","$40,571,816.94","$36,106,662.06"
621,66037,43018,"$10,017.30","$8,746,255.33","$5,619,348.43","$3,126,906.90"
319,38378,73667,"$11,895.00","$9,172,866.13","$6,217,160.58","$2,955,705.55"
402,46820,75768,"$11,094.80","$8,006,332.52","$5,416,837.60","$2,589,494.92"
258,33615,64313,"$12,609.40","$6,392,918.34","$4,358,938.42","$2,033,979.92"

In [25]:
# Sort the updated data by "Total Profit" form highest to lowest
summary_df

,client_id,Quantity,Shipping Price,total_price,Line Cost,Total Profit
144,24741,239862,"$9,365.60","$76,678,479.00","$40,571,816.94","$36,106,662.06"
621,66037,43018,"$10,017.30","$8,746,255.33","$5,619,348.43","$3,126,906.90"
319,38378,73667,"$11,895.00","$9,172,866.13","$6,217,160.58","$2,955,705.55"
402,46820,75768,"$11,094.80","$8,006,332.52","$5,416,837.60","$2,589,494.92"
258,33615,64313,"$12,609.40","$6,392,918.34","$4,358,938.42","$2,033,979.92"